# devkitARM / GBA
*.gba
*.sav
*.elf
*.o
*.d
*.a
build/

# macOS
.DS_Store
._*
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump

# Linux
*~
.fuse_hidden*
.Trash-*
.nfs*

# VSCodium / VSCode
.vscode/
*.code-workspace
compile_flags.txt

# Editor temp files
*.swp
*.swo

# Aseprite
*.aseprite